[user]
	name = Wilco den Besten
	email = # TODO: fill

[core]
	editor = code -w # Will launch Visual Studio Code (code) and the command line will wait (-w) until the commit message is saved and closed.

[alias]
	s = status
	d = diff
	ci = commit
	co = checkout
	a = add
	pulls = !git pull $1 && git submodule sync --recursive && git submodule update --init --recursive
	res = restore --staged
	sup = !git submodule sync --recursive && git submodule update --init --recursive
	amend = !git commit --amend --reset-author
	his = log --pretty=format:\"%h - %s [%an] %d\"
	fauthors = shortlog -n -s --
	lg = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
